<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Impresión de Carnets</title>
    @Styles.Render("~/Content/app-min.css")
    @Styles.Render("~/bower_components/select2/select2.css")
    @Styles.Render("~/bower_components/select2-bootstrap-css/select2-bootstrap.css")
    @Scripts.Render("~/bower_components/modernizr/modernizr.js")
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                @Html.ActionLink("IFARHU Taboga", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()

        <hr />

        <footer>
            <p>&copy; Dirección de Tecnología Informática, IFARHU, @DateTime.Now.Year.</p>
        </footer>
    </div>

    @Scripts.Render("~/bower_components/jquery/jquery.min.js")
    @Scripts.Render("~/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/app-min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
